html {
	font-size: 16px;
}
body {
  height: 100vh;
  background-color:  #ececec;
  font-family: arial, helvetica, sans-serif;
}
.main-container{
  margin: 0 8% ;
}
h1 {
	font-size: 3rem; 
	color: #484848 ;
  margin-top: 10px;
  font-weight: 500;
}
h2{
  font-size: 1.75rem; 
	color: #484848 ;
  margin-top: .5rem;
  margin-bottom: 1rem;
  font-weight: bold;
}
h3{
  font-size: 1rem; 
	color: #484848 ;
  margin-top: 5px;
  font-weight: bold;
}
h4{
  font-size: 1rem; 
  font-weight: 300 ;
  font-family: Circular;
	color: #747474 ;
  padding: .4rem 0 .4rem 0;
  font-weight: bold;
}
h5{
  font-size: .75rem; 
  font-family: sans-serif;
	color: rgb(16, 138, 168) ;
  padding: .7rem 0 .3rem 0;
  font-weight: bold;
}
a {
  color: #484848 ;
  text-decoration: none;
}
li{
  display: flex;
  padding: 20px;
  }
input{
  width: 100%;
  height: 80%;
  border: none;
  font-size: 20px;
}
textarea:focus, input:focus{
  outline: none;
}
.checked {
  color: #008489;
}

@media (max-width: 1200px) { 
	.main-container{
    margin: 0 3%;
  }
  h1{
    font-size: 2.5rem;
  }
}


@media (max-width: 992px) { 
 
  html{
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  h1{
    font-size: 1.5rem;
  }
  input{
    font-size: 15px;
  }
}




