.task-container{
    
    border-radius: 30px;
    background-color: #f1f1f1;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 60px;
    box-shadow: 3px 4px 4px #888888;
    justify-content: space-between;
    margin-bottom: 1px;
    
    
}

.task-container h2{
    padding-left: 20px;
    user-select: none;
}

.task-container button{
    outline: none;
    cursor: pointer;
    background-color: rgb(0,132,255);
    border: none;
    border-radius: 30px;
    color: white;
    padding: 0 32px;
    text-align: center;
    height: 100%;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    user-select: none;
}

.task-isClicked h2{
    transform: translateX(30px);
    user-select: none;
    color: gray;
    text-decoration: line-through;
}
    